.balance-container,.amount-container{
    width: 100%;
    height: 400px;
    background-color: deeppink;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid blue;
    border-radius: 20px;
    margin-top:   -40px;
}
.deposit-balance{
    width: 400px;
    height: 200px;
    background-color: darkmagenta;
    text-align: center;
    color: white;
    border: 1px solid orange;
    border-radius: 20px;
    font-size: 20px;
}
p{
    font-size: 40px;
    font-weight: bolder;
    margin-top: -20px;
}
.Withdraw-balance{
    width: 400px;
    height: 200px;
    background-color: darkcyan;
    text-align: center;
    color: white;
    border: 1px solid orange;
    border-radius: 20px;
    font-size: 20px;
}

.total-balance,.deposit-amount,.withdraw-amount{
    width: 400px;
    height: 200px;
    background-color: darkolivegreen;
    text-align: center;
    color: white;
    border: 1px solid orange;
    border-radius: 20px;
    font-size: 20px;
}
.amount-container{
    background-color: indianred;
    height: 200px;
}
.deposit-amount{
    height: 100px;
    background-color:crimson;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.withdraw-amount{
    height: 100px;
    background-color:chocolate;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.title{
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: darkorange;
    background-color: darkblue;
    padding: 20px;
    border-radius: 10px;
}

input{
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}
button{
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    background-color:darkgreen;
    color: white;

}
button:hover{
    background-color:darkred;
    transform: scale(1.105);
}

/* resposive style started here */


@media screen  and (max-width:576px){
    .amount-container, .balance-container{
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 20px 0px;
    }
    .amount-container{
        margin-top: 10px;
    }
    .title{
        font-size: 20px;
    }
    .deposit-balance,.Withdraw-balance,.total-balance,.deposit-amount,.withdraw-amount{
        width: 300px;
        font-size: 15px;
    }
    input{
        font-size: 10px;
    }
    button{
        padding: 5px 10x;
    }

}
@media screen and (min-width:576px) and (max-width:762px){
    .amount-container,.balance-container{
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 20px 0px;
    }
    
}
@media screen and (min-width:762px) and (max-width:1080px){
    .amount-container,.balance-container{
        gap: 10px;
        height: auto;
        padding: 20px 0px;

    }
   

    
}